@import "@/styles/globals.scss";
div.career-wrap {
  cursor: default;
  overflow: hidden;
  h1.title {
    font-size: 48px;
  }

  div.division {
    width: 250px;
    height: 3px;
    background-color: $point-border;
    margin-bottom: 20px;
  }

  section.timeline-container {
    overflow: auto;
    padding-bottom: 100px;
    padding-left: 5px;
    &::before {
      content: "";
      position: absolute;
      left: 5px;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: rgba(212, 175, 55, 0.4);
    }

    div.timeline-item {
      gap: 10px;
      &:not(:last-child) {
        margin-bottom: 50px;
      }

      div.dot {
        width: 12px;
        height: 12px;
        background-color: $point-border;
        border-radius: 50%;
        margin-left: -5px;
        margin-top: 5px;
      }
      div.timeline-content {
        font-size: 14px;
        gap: 5px;
        span.date {
          font-size: 12px;
          color: #bebebe;
        }

        h3 {
          font-size: 18px;
        }

        ul.tech-list {
          li {
            &:first-child {
              font-weight: 700;
              list-style: none;
            }
          }
        }

        ul.role-list {
          li {
            &:first-child {
              font-weight: 700;
              list-style: none;
            }
          }
        }
      }
    }
  }
}
