@import "@/styles/globals.scss";

div.introduce-wrap {
  background-color: $bg-second;
  width: 300px;
  height: 700px;
  border-radius: 24px;
  border: 3px solid $border-color;
  box-shadow: 2px 2px 4px 2px rgba(#fff, 0.15);
  overflow: hidden;
  padding: 50px 0;
}
