@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --second: #171717;
  --third: #353434;
  --text: #ffffff;
  --point: #e5a134;
  --point-border: #c5a065;
  --border: #4e4e4e;
}

$bg-color: var(--background);
$bg-second: var(--second);
$bg-third: var(--third);
$text-color: var(--text);
$point-color: var(--point);
$point-border: var(--point-border);
$border-color: var(--border);
$font-inter: var(--font-inter);

body {
  background: var(--background);
  color: var(--text);
  // font-family: Arial, Helvetica, sans-serif;
  font-family: "Pretendard", $font-inter;
  overflow: hidden;
}
