@import "@/styles/globals.scss";
div.main-wrap {
  padding: 50px;
  // gap: 50px;

  div.main-container {
    background-color: $bg-second;
    border: 3px solid $border-color;
    box-shadow: 2px 2px 4px 4px rgba(#fff, 0.1);
    overflow: hidden;
    border-radius: 24px;
    width: 78.02197802%;

    div.select-container {
      width: 49.29577465%;
      height: 100px;
      background-color: $bg-third;
      right: 0;
      top: 0;
      border-radius: 0 0 0 24px;
      padding: 0 3.57142857%;

      ul.select-list {
        gap: 20.85714286%;
        li.item {
          font-size: 20px;

          &.active {
            color: $point-color;
          }
        }
      }
    }

    div.content {
      padding: 100px 50px 50px;
      &.about-active {
        @media (max-width: 1740px) {
          height: 700px;
        }
      }
      &.besides-active {
        height: 700px;
      }
    }
  }
}
