@import "@/styles/globals.scss";
div.main-wrap {
  padding: 50px;
  // gap: 50px;

  div.main-container {
    background-color: $bg-second;
    border: 3px solid $border-color;
    box-shadow: 2px 2px 4px 2px rgba(#fff, 0.15);
    overflow: hidden;
    border-radius: 24px;
    width: 78.02197802%;
  }
}
